<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Ooops!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

</head>
<body>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{'/index'}">Start Webstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container" style="margin-top: 20px">
    <header class="heading">
        <h1>Ooops!</h1>
        <h2>Nie znaleziono produktu.</h2>
        <p>Niestety nie mamy tego czego szukasz.</p>
        <a href="#" th:href="@{'/index'}" class="btn btn-info">
            Zabierz mnie z powrotem.</a>
    </header>
</div>


</body>
</html>
